@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");
:root {
  --beige: #DDC3A5;
  --tan: #E0A96D;
  --white: #ffffff;
  --black: #000000;
  --green_spotify: #1DB954;
  --black_spotify: #191414;

  --shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
}

/*
body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/

section_1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--beige);
}

section_2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black_spotify);
}

.search-bar {
    display: flex;
    align-items: center;
    min-width: 700px;
    border-radius: 50px;
    background-color: var(--white);
}

.dropdown {
    position: relative;
    width: 280px;
    border-radius: 50px;
    background-color: var(--tan);
    border: 1px solid var(--white);
    box-shadow: var(--shadow);
    cursor: pointer;
}

.dropdown-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    background-color: transparent;
    padding: 1rem 1.5rem;
    color: var(--white);
}

.dropdown-list {
    display: block;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    border-radius: 15px;
    max-height: 0;
    overflow: hidden;
    background-color: var(--white);
    transition: max-height 0.5s;
}

.dropdown-list-item {
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 15px;
    padding: 1rem 0 1rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.3s ease, margin-left 0.2s ease;
}

.dropdown-list-item:hover {
    margin-left: 0.5rem;
    color: var(--tan);
}

#list.show {
    max-height: 300px;
}

.search-box {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    width: 100%;
    color: var(--black);
}

.search-box input {
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: var(--black);
    border: 0;
    outline: 0;
}

.search-box i {
    font-size: 1.3rem;
    cursor: pointer;
    padding-left: 15px;
}

.search-box input::placeholder {
    font-size: 1rem;
    font-weight: 500;
    color: var(--black);
}

/* ----- */

/*
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    z-index: 1;
}
*/

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
}

.navbar button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
    width: 50%;
    box-sizing: border-box;
    border: 5px solid white;
}

#cloth_button {
    color: var(--black);
    background-color: var(--beige);
    font-weight: bold;
}
#song_button {
    color: var(--white);
    background-color: var(--black_spotify);
    font-weight: bold;
}

/* ----- */

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.tittle {
    text-align: center;
    margin-bottom: 30px;
}

.for_results {
    text-align: center;
    margin-top: 30px;

    overflow-y: auto;
    max-height: 650px;
}

.under {
    text-align: center;
    margin-top: 30px;
}

/* ----- */

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.gallery p {
    font-size: 15px;
    padding: 5px;
}

.gallery-item {
    text-align: center;
}

.gallery-item img {
    max-width: 100%;
    max-height: 150px;
    border-radius: 25px;
}

/* ----- */

.tittle-songs {
    text-align: center;
    margin-bottom: 30px;
    color: var(--green_spotify);
}

.dropdown-songs {
    position: relative;
    width: 280px;
    border-radius: 50px;
    background-color: var(--green_spotify);
    border: 1px solid var(--white);
    box-shadow: var(--shadow);
    cursor: pointer;
}

.dropdown-text-songs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    background-color: transparent;
    padding: 1rem 1.5rem;
    color: var(--black_spotify);
}

.dropdown-list-songs {
    display: block;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    border-radius: 15px;
    max-height: 0;
    overflow: hidden;
    background-color: var(--white);
    transition: max-height 0.5s;
}

.dropdown-list-item-songs {
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 15px;
    padding: 1rem 0 1rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.3s ease, margin-left 0.2s ease;
}

.dropdown-list-item-songs:hover {
    margin-left: 0.5rem;
    color: var(--green_spotify);
}

#list-songs.show {
    max-height: 300px;
}

.under-songs {
    text-align: center;
    margin-top: 30px;
    color: white;
}