<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clothes Search Index</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
    </head>

    <body>
        <div class="navbar">
            <button id="cloth_button" onclick="showClothingSearch()">Clothes</button>
            <button id="song_button" onclick="showSongSearch()">Songs</button>
        </div>

        <section_1 id="clothingSearch" style="display: none;">
            <div class="container">
                <h1 class="tittle">
                    Welcome to our clothing search engine
                </h1>
    
                <div class="search-bar">
                    <div class="dropdown">
                        <div id="drop-text" class="dropdown-text">
                            <span id="span">Our index</span>
                            <i id="icon" class="fa-solid fa-chevron-down"></i>
                        </div>
                        <ul id="list" class="dropdown-list">
                            <li class="dropdown-list-item">Our index</li>
                            <li class="dropdown-list-item">PSQL</li>
                        </ul>
                    </div>
    
                    <form class="search-box" action="/" method="POST">
                        <input name="input_text" type="text" id="search-input" placeholder="Search by Our index..." />
                        <input type="hidden" id="search_option" name="search_option" value="Our_index">
                        <input type="hidden" name="active_section" value="clothSearch">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </form>
                </div>
    
                <div class="for_results">
                    <div class="gallery">
                        {% if gallery_data %}
                            {% for link, name in gallery_data %}
                                <div class="gallery-item">
                                    <img src="{{ link }}" alt="Imagen">
                                    <p>{{ name }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
    
                <div class="for_results">
                    {% if time %}
                        <p> Tiempo de ejecución: {{ time }} segundos</p>
                    {% endif %}
                </div>
    
                <div class="under">
                    Created by: Angel Mucha, Jean Pierre Sotomayor, Juan Torres
                </div>
            </div>
        </section_1>

        <section_2 id="songSearch">
            <div class="container">
                <h1 class="tittle-songs">
                    Welcome to our songs search engine
                </h1>

                <div class="search-bar">
                    <form class="search-box" action="/" method="POST">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="hidden" name="active_section" value="songSearch">
                        <input type="hidden" id="search-option-songs" name="search_option" value="Our_index">
                        <input name="input_text" type="text" id="search-input-songs" placeholder="Search by Our index..." />
                    </form>

                    <div class="dropdown-songs">
                        <div id="drop-text-songs" class="dropdown-text-songs">
                            <span id="span-songs">Our index</span>
                            <i id="icon-songs" class="fa-solid fa-chevron-down"></i>
                        </div>
                        <ul id="list-songs" class="dropdown-list-songs">
                            <li class="dropdown-list-item-songs">Our index</li>
                            <li class="dropdown-list-item-songs">PSQL</li>
                        </ul>
                    </div>
                </div>

                <div class="for_results">
                    <div class="gallery">
                        {% if gallery_data %}
                            {% for link, name in gallery_data %}
                                <div class="gallery-item">
                                    <img src="{{ link }}" alt="Imagen">
                                    <p>{{ name }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
    
                <div class="for_results">
                    {% if time %}
                        <p> Tiempo de ejecución: {{ time }} segundos</p>
                    {% endif %}
                </div>
    
                <div class="under-songs">
                    Created by: Angel Mucha, Jean Pierre Sotomayor, Juan Torres
                </div>
            </div>
        </section_2>
    </body>

    <script>
        // For display section

        function showClothingSearch() {
            document.getElementById('clothingSearch').style.display = 'block';
            document.getElementById('songSearch').style.display = 'none';
        }

        function showSongSearch() {
            document.getElementById('clothingSearch').style.display = 'none';
            document.getElementById('songSearch').style.display = 'block';
        }

        // Manage visuals

        let dropdownBtnText = document.getElementById("drop-text");
        let span = document.getElementById("span");
        let icon = document.getElementById("icon");
        let list = document.getElementById("list");
        let input = document.getElementById("search-input");
        let input_so = document.getElementById("search-option");
        let listItems = document.querySelectorAll(".dropdown-list-item");

        let dropdownBtnTextSongs = document.getElementById("drop-text-songs");
        let spanSongs = document.getElementById("span-songs");
        let iconSongs = document.getElementById("icon-songs");
        let listSongs = document.getElementById("list-songs");
        let inputSongs = document.getElementById("search-input-songs");
        let inputSoSongs = document.getElementById("search_option-songs");
        let listItemsSongs = document.querySelectorAll(".dropdown-list-item-songs");

        function closeDropdowns() {
            list.classList.remove("show");
            icon.style.rotate = "0deg";

            listSongs.classList.remove("show");
            iconSongs.style.rotate = "0deg";
        }

        dropdownBtnText.onclick = function (e) {
            e.stopPropagation();
            list.classList.toggle("show");
            icon.style.rotate = "-180deg";
        };

        dropdownBtnTextSongs.onclick = function (e) {
            e.stopPropagation();
            listSongs.classList.toggle("show");
            iconSongs.style.rotate = "-180deg";
        };

        window.onclick = function (e) {
            if (e.target.id !== "drop-text" && e.target.id !== "icon" && e.target.id !== "span" &&
                e.target.id !== "drop-text-songs" && e.target.id !== "icon-songs" && e.target.id !== "span-songs") {
                closeDropdowns();
            }
        };

        for (item of listItems) {
            item.onclick = function (e) {
                e.stopPropagation();
                span.innerText = e.target.innerText;
                if (e.target.innerText == "Our index") {
                    input.placeholder = "Search by Our index...";
                    input_so.value = "Our_index";
                } else {
                    input.placeholder = "Search by PSQL...";
                    input_so.value = "PSQL";
                }
                closeDropdowns();
            };
        }

        for (item of listItemsSongs) {
            item.onclick = function (e) {
                e.stopPropagation();
                spanSongs.innerText = e.target.innerText;
                if (e.target.innerText == "Our index") {
                    inputSongs.placeholder = "Search by Our index...";
                    inputSoSongs.value = "Our_index";
                } else {
                    inputSongs.placeholder = "Search by PSQL...";
                    inputSoSongs.value = "PSQL";
                }
                closeDropdowns();
            };
        };
    </script>
</html>
